@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  background-color: #ddb492;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header img {
  width: 40px;
}

.circle-left {
  float: left;
}

.circle-right {
  float: right;
}

header {
  border: 3px dotted #2d1d0f;
}

header h1 {
  font-family: Pacifico, cursive;
  background-color: #9e6738;
  color: #2d1d0f;
  text-align: center;
  margin: 0;
}

nav {
  background-color: #9e6738;
}

ul {
  padding: 0;
  line-height: 2;
}

nav ul {
  margin: 0;
  text-align: center;
}

a {
  font-family: "Varela Round", sans-serif;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #2d1d0f;
  font-family: "Varela Round", sans-serif;
}

nav li {
  border-radius: 4px;
  padding: 1rem;
  display: inline-block;
  text-align: center;
  list-style-type: none;
  margin: 10px;
  background-color: #c68044;
}

nav li:hover {
  background-color: #e6a76a;
}

.img-flex {
  width: 100%;
  display: block;
}

.selection {
  width: 30%;
  float: right;
  margin: 0;
  padding: .5em;
}

h2 {
  font-family: "Berkshire Swash", cursive;
  background-color: #9e6738;
}

h3 {
  font-family: "Patua One", cursive;
  text-align: center;
  background-color: #c68044;
  clear: both;
}

.item-des {
  font-family: "Varela Round", sans-serif;
  font-size: .8rem;
}

.hours {
  text-align: center;
  clear: both;
}

.hours-img {
  width: 30%;
  float: left;
  margin: 1.5rem;
}

.hours-list {
  padding: 0;
  list-style: none;
}

.events {
  text-align: center;
  clear: both;
}

.event-box {
  position: relative;
}

.event-text {
  background-color: rgba(0, 0, 0, .3);
  width: 55%;
  position: absolute;
  right: 0;
  top: 7.9em;
  border-radius: 8px;
}

.event-ban {
  position: relative;
}

.event-info {
  font-family: "Varela Round", sans-serif;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
}

.open-house {
  width: 80%;
}

.contact {
  text-align: center;
}

.contact-info {
  float: right;
  list-style-type: none;
  display: inline-block;
  width: 55%;
  padding: 0;
}

.contact-img {
  width: 40%;
  display: inline-block;
}

.footer {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
  }

  nav li {
    margin: 0;
    padding: .5rem 1rem;
  }

  .item-des {
    max-width: 50%;
  }

  .event-text {
    top: 11.3em;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  nav li {
    margin: .3em;
    padding: .2rem 1rem;
  }

  .event-text {
    font-size: 1.5625rem;
    top: 11.1em;
  }

  .contact-info {
    font-size: 1.4375rem;
  }

  .hours-list {
    font-size: 1.5625rem;
    margin: 2.5rem;
    float: right;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header h1 {
    font-size: 3.125rem;
  }

  header img {
    width: 5rem;
  }

  figure i {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.875rem;
  }

  nav li {
    font-size: 1.5625rem;
  }

  main li {
    font-size: 1.5625rem;
  }

  main i {
    font-size: 1.375rem;
  }

  .item-des {
    font-size: 1.375rem;
  }

  .hours-list {
    font-size: 2.5rem;
    float: right;
  }

  .event-text {
    font-size: 2.5rem;
    top: 11.1em;
  }

  .contact-info {
    font-size: 2.1875rem;
  }

  .footer {
    font-size: 1.25rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  header h1 {
    font-size: 4.375rem;
  }

  header img {
    width: 6.25rem;
  }

  .banner-i {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 3.125rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  nav li {
    font-size: 2.1875rem;
  }

  main li {
    font-size: 2.1875rem;
  }

  main i {
    font-size: 1.75rem;
  }

  .item-des {
    font-size: 1.75rem;
  }

  .hours-list {
    font-size: 3.75rem;
    float: right;
  }

  .event-text {
    font-size: 3.75rem;
    top: 11.2em;
  }

  .contact-info {
     font-size: 3.125rem;
  }

  .footer {
    font-size: 1.875rem;
  }
}
